*
{
    margin: 0;
    padding: 0;
}
nav img{
    width: 200px;
}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px auto;
    width: 90%;

}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    cursor:pointer;
    text-indent:20px;
}
.list{
    margin-left: 170px;
}

nav li:hover
{
    color: red;
    scale: 1.2;
    background-color: white;
}
.s1{
    background-color: black;
    border-radius: 40%;
    color: white;
    font-size:20px;
    padding:3px;
    width: 120px;

}
.pro
{
    background-color: orangered;
    border:1px solid black;
    border-radius: 15px;
    width: 40px;


}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 70px;
    margin-left: 100px;
}
.main-section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    width: 90%;
}
.sec1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec1 ul li
{
  list-style-type: none;
  width: 220px;
}

.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2 ul li
{
  list-style-type: none;
  width: 220px;
}
.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3 ul li
{
  list-style-type: none;
  width: 220px;
}
.sec4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4 ul li
{
  list-style-type: none;
  width: 220px;
}
.rin{
    padding:100px;
    height:450px;

}
.rin1{
    padding:100px;
    height:350px;

}
.but{
    margin-left: 600px;
    background-color:rgb(175, 171, 171);
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 2px;
    color: white;
}
h3{
    margin-left: 100px;
}
footer{
    display: flex;

}
.spotify
{
    margin-left: 100px;
}